Pixel 4 – The phone that’s here to help. Learn more
<video></video>

<div style="overflow-x: scroll;display:flex;">
<div *ngFor="let product of carousel">{{ product }}</div>
</div>

<app-product-feature>
    <h2>The new Nest Wifi</h2>
    Wi‑Fi the way it should be.
</app-product-feature>

<app-product-feature>
    <h2>The new Nest Mini</h2>
    Mini has never sounded so big.
</app-product-feature>

<app-product-feature>
    <h2>Google Pixelbook Go</h2>
    Lightweight, grippable, and ready to go.
</app-product-feature>

<app-product-feature>
    <h2>Stadia Premiere Edition</h2>
    The future of gaming.
</app-product-feature>
